.graph_container {
  background-color: #f6f5f5;
  min-height: 100vh;
  padding: 46px 100px;

  & .graph {
    // border: 2px solid red;
    max-width: 1315px;
    width: 100%;
    margin: 0 auto;

    &_top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &_left {
        display: flex;
        align-items: center;
        gap: 9px;

        & .arrow {
          height: 30px;
          width: 30px;
          object-fit: cover;
        }

        & h1 {
          font-size: 32px;
          line-height: 48px;
          font-weight: 600;
          font-family: Poppins;
          margin: 0;
          padding: 0;
        }
      }

      &_right {
        display: flex;
        gap: 50px;
        align-items: center;

        & button {
          font-size: 18px;
          color: black;
          font-weight: 400;
          line-height: 27px;
          font-family: Poppins;
          border: none;
        }

        & .active {
          font-weight: 500;
          padding: 10px 15px;
          background: #ededed;
          border-radius: 10px;
        }
      }
    }

    &_middle {
      margin-top: 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & .gbpusd {
        padding: 18px 20px;
        border-radius: 40px;
        display: flex;
        gap: 23px;
        align-items: center;
        width: 334px;

        &_text {
          display: flex;
          flex-direction: column;

          &_top {
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
            font-family: Poppins;
          }
          &_bottom {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            font-family: Poppins;

            & span {
              color: #04ad29;
            }
          }
        }
      }

      & .gbpusd_active {
        background: #ededed;
      }

      & .right_arrow {
        margin-left: 26px;
        margin-right: 76px;
        background: #e7effe;
        border-radius: 50%;
        // padding: 18px;
        height: 66px;
        width: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .price {
        & p {
          font-size: 24px;
          font-family: Poppins;
          font-weight: 400;
          line-height: 36px;

          & span {
            font-weight: 600;
          }
        }
      }
    }
  }
}
