.navbar {
  // border: 2px solid red;
  background: rgba(23, 29, 48, 0.4);
  display: flex;
  padding: 20px 0;

  &_center {
    max-width: $maxwidth;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    align-items: center;

    & .links {
      display: flex;
      gap: 23px;

      &_item,
      a {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.16px;

        &:hover {
          color: #f9bd4d;
        }
      }

      & .active {
        border-bottom: 1px solid var(--Secondary-color, #f9bd4d);
      }
    }

    & .right {
      display: flex;
      align-items: center;
      gap: 28px;

      & .login {
        color: #f9bd4d;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      & .get-started {
        border-radius: 10px;
        background: var(
          --Primary-Color,
          linear-gradient(99deg, #1160f7 0%, #5a48f8 100%)
        );
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

.footer {
  padding: 200px 0 30px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #040a1e;
  // border: 2px solid red;
  width: 100%;

  .footer-wrapper {
    display: flex;
    gap: 40px;
    // border: 2px solid blue;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;

    h2 {
      color: #fff;
      opacity: 0.65;
      font-size: 15px;
      font-weight: 900;
      line-height: 26px; /* 173.333% */
      letter-spacing: -0.1px;
      font-family: Poppins;
    }
    p,
    a {
      color: #fff;
      font-size: 17px;
      font-weight: 900;
      line-height: 40px; /* 235.294% */
      letter-spacing: -0.2px;
      text-align: left;
      font-family: Poppins;
    }
  }
  .social {
    max-width: 1000px;
    width: 100%;
    margin: 80px auto 0;

    .social-media-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & p {
        color: #fff;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 900;
        line-height: 26px; /* 173.333% */
        letter-spacing: -0.1px;
        opacity: 0.65;
      }
    }
  }
}
