.navbar {
  // border: 2px solid red;
  background: rgba(23, 29, 48, 0.4);
  display: flex;
  padding: 20px 0;
  position: relative;

  @media (max-width: $breakpoint-xlarge) {
    padding: 20px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 10px 30px;
  }

  &_center {
    max-width: $maxwidth;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    align-items: center;

    & .links {
      display: flex;
      gap: 23px;
      // border: 2px solid blue;

      @media (max-width: $breakpoint-tablet) {
        // padding: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px 30px;
        flex-direction: column;
        background: rgba(4, 10, 30, 0.7);
        backdrop-filter: blur(10px);
        display: none;
        gap: 15px;
      }

      @media (max-width: $breakpoint-small) {
        gap: 10px;
      }

      &_item,
      a {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.16px;
        width: fit-content;

        @media (max-width: $breakpoint-tablet) {
          font-size: 14px;
        }
        @media (max-width: $breakpoint-small) {
          font-size: 12px;
        }

        &:hover {
          color: #f9bd4d;
        }
      }

      & .active {
        border-bottom: 1px solid var(--Secondary-color, #f9bd4d);
      }
    }

    & .links_open {
      @media (max-width: $breakpoint-tablet) {
        height: auto;
        display: flex;
      }
    }

    & .right {
      display: flex;
      align-items: center;
      gap: 28px;

      & .login {
        color: #f9bd4d;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @media (max-width: $breakpoint-tablet) {
          font-size: 14px;
        }
        @media (max-width: $breakpoint-small) {
          font-size: 12px;
        }
      }

      & .get-started {
        border-radius: 10px;
        background: var(
          --Primary-Color,
          linear-gradient(99deg, #1160f7 0%, #5a48f8 100%)
        );
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (max-width: $breakpoint-tablet) {
          padding: 12px 20px;
          border-radius: 8px;
          font-size: 14px;
        }
        @media (max-width: $breakpoint-small) {
          padding: 10px 18px;
          border-radius: 6px;
          font-size: 12px;
        }
      }
    }
  }

  & .menu {
    display: none;
    color: white;
    font-size: 30px;
    border: none;

    @media (max-width: $breakpoint-tablet) {
      display: flex;
      font-size: 25px;
    }
    @media (max-width: $breakpoint-small) {
      display: flex;
      font-size: 20px;
    }
  }
}

.footer {
  padding: 200px 0 30px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #040a1e;
  // border: 2px solid red;
  width: 100%;
  @media (max-width: $breakpoint-tablet) {
    padding: 100px 20px 20px;
  }

  .footer-wrapper {
    display: flex;
    gap: 40px;
    // border: 2px solid blue;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-large) {
      gap: 25px;
      padding: 10px;
    }
    @media (max-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding-left: 20px;
    }
    @media (max-width: $breakpoint-small) {
      gap: 6px;
    }

    & article {
      min-width: 150px;
    }

    h2 {
      color: #fff;
      opacity: 0.65;
      font-size: 15px;
      font-weight: 900;
      line-height: 26px; /* 173.333% */
      letter-spacing: -0.1px;
      font-family: Poppins;

      @media (max-width: $breakpoint-tablet) {
        font-size: 13px;
      }
    }
    & .path {
      @media (max-width: $breakpoint-small) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    & p,
    a {
      color: #fff;
      font-size: 17px;
      font-weight: 900;
      line-height: 40px; /* 235.294% */
      letter-spacing: -0.2px;
      text-align: left;
      font-family: Poppins;

      @media (max-width: $breakpoint-tablet) {
        font-size: 15px;
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: 13px;
      }
    }
  }
  .social {
    max-width: 1000px;
    width: 100%;
    margin: 80px auto 0;

    @media (max-width: $breakpoint-tablet) {
      margin: 40px auto 0;
    }

    .social-media-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $breakpoint-tablet) {
        padding: 0 20px;
      }

      & p {
        color: #fff;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 900;
        line-height: 26px; /* 173.333% */
        letter-spacing: -0.1px;
        opacity: 0.65;

        @media (max-width: $breakpoint-tablet) {
          font-size: 13px;
        }
      }

      & a {
        color: white;
      }

      & .social-media {
        display: flex;
        gap: 20px;

        @media (max-width: $breakpoint-tablet) {
          gap: 10px;
        }

        & a {
          font-size: 30px;
          color: white;

          @media (max-width: $breakpoint-tablet) {
            font-size: 25px;
          }
        }
      }
    }
  }
}
